.side-left-sub {
    border:'1px solid green';
    position:'relative';
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;

    .ps-sidebar-root {
        width: 100%;
        min-width: 100%;
        .ps-sidebar-container {
            height: auto;
        }
    }
}

.sidebarClasses  {
    width: auto;
    min-width: auto;
}


.logo-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left:24px;
    
    .logo-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:24px;
        font-weight: 700;
        border-radius: 8px;
        color:white;
        width: 35px;
        background: linear-gradient(45deg, rgb(21, 131, 205) 0%, rgb(90, 255, 173) 100%);
        text-shadow: 0.5px 1px 1px dodgerblue, 1px 1.5px 1px antiquewhite;
        // margin-left: 4px;
    }

    .logo-subtitle {
        margin:0px;
        padding:0px;
        color: rgb(0, 152, 229);
        font-size: 20px;
        font-weight: 700;
        margin-left: 3px;
    }
}

.side-bottom {
    // display: flex;
    // justify-content: center;
    position: relative;
    display: block;
    padding-top:20px;
    height:160px;
    // border:1px solid blue;
    // overflow: hidden;

    .logo-img-bottom {
        background:url('../../../../assets/img/black tablet computer with graph illustration.png') no-repeat center;
        opacity:1;
        background-size: contain;
        width: 100%;
        height:140px;
        display: block;
        animation: logo-anim 1.5s ease-in-out;
        // top:30px;
        // border:1px solid red;
        // position: relative;
    }

    @keyframes logo-anim {
        from {
            transform: perspective(70px) rotateX(170deg) scale(0.1);
        }
        to{
            transform: rotateX(0) scale(1);
            width: 100%;
        }
    }
}



.signin-title {
  display: flex;
  justify-content: space-evenly;
  color:cadetblue;
  text-decoration: underline;
  font-style: italic;
  font-size: 12px;
  font-weight: 600;
  margin-top:10px;
  margin-bottom: 5px;

  .user {
    position: relative;
    display: block;
    font-size: 12px;
    max-width:100%;
    width: 100%;
    // border:1px solid red;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: cadetblue;
    color:white;
    text-align: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right:10px;
    margin-left:10px;
    margin-right: 10px;
    
    
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }

}

.signin-title2 {

    display: flex;
    justify-content: space-evenly;
    color:cadetblue;
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    margin-top:0px;
    margin-bottom: 35px;

    .keluar {
      position: relative;
      display: block;
      font-size: 12px;
      max-width:100%;
      width: 100%;
      // border:1px solid red;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background: lightcoral;
      color:white;
      text-align: center;
      border-radius: 5px;
      padding-left: 10px;
      padding-right:10px;
      margin-left:10px;
      margin-right: 10px;

      &:hover {
        background: rgb(129, 40, 40);
        color: white;
        cursor: pointer;
      }
    }

}

.modal-header {
  border-bottom: 0;
}
.modal-title {
  color: rgb(0 130 198);
  font-size: 1.5rem;
}
.modal-footer {
  border-top:0;
}

.form-group {
  .form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;

    &.required {
      &::after {
          content:' *';
          color:red;
      }
    }
  }
}

.btn-primary-custom {
  background-color: rgb(0 130 198);
  color:#fff;

  &:hover {
      color:#fff;
      background-color: rgb(0, 91, 139);
  }
}

.buatuser {
  display: flex;
  position: relative;
  .garis {
    border-top:1px solid lightgrey;
    width: 100%;
    position: relative;
    display: block;
  }

  .labeluser {
    font-size:12px;
    position: absolute;
    left:50%;
    top:-10px;
    background-color: #fff;
    padding-left:15px;
    padding-right: 15px;
    transform: translateX(-50%);
    font-weight: 600;
    // top:3px;

  }
}

.warning-msg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.alert-form {
  text-align: center;
  font-size: 16px;
  width: 100%;
}

#modal-masuk,
#modal-buat
{
  .modal-content {
    // transition: all 0.1s;
    animation: tampil .4s ease-in;
  }
}

@keyframes tampil {
  from {
    transform: rotateX(90deg) scale(0);
  }
  to {
    transform: rotateX(0) scale(1);
  }
}

.submenu-custom {
  img {
    border-radius: 100px;
  }
  span {
    margin-left:15px;
  }
}